# Prerequisites
*.d

# Compiled Object files
.build
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
webserv
webserv_debug1
webserv_debug2
*.exe
*.out
*.app

# IDE
cmake-build-debug
.idea
.vscode
